@value filterPanelWidth, searchInputHeight from '../dimensions.css';

body {
  padding: 0;
  margin: 0;
}

.common {
  display: grid;
  grid-template-rows: searchInputHeight auto;
  grid-template-columns: filterPanelWidth auto;
  grid-template-areas:
    "entry entry"
    "filter result";
  background-color: white;
}

.common p {
  margin: 10px 0;
}
