@value highlightColor from '../colors.css';

.common {
  width: 1024px;
}

.common > header {
  /* position: sticky;
  top: 0; */
  padding: 16px 0;
  background-color: white;
  z-index: 10;
}

.common > main {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 16px;
}

.common > main > section:first-of-type {
  margin-left: 16px;
}

.common > main > section:first-of-type > div {
  width: 420px;
  /* padding: 16px; */
  /* background-color: #303030; */
  /* color: white; */
}

.common > main > section:last-of-type {
  flex: 1 1 auto;
}

.common h1,
.common h2 {
  margin: 0;
}

.common h1 + h2 {
  margin-top: 0;
}

.common a {
  text-decoration: none;
  color: highlightColor;
}

.common a:hover {
  text-decoration: underline;
}