@value highlightColor from '../colors.css';

.common {
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  box-sizing: border-box;
  padding-bottom: 64px;
}

.common > header {
  margin-bottom: 16px;
}

.common > header > nav {
  margin-bottom: 10px;
}

.common > section {
  display: grid;
  grid-template-columns: auto 420px;
  grid-template-rows: minmax(0, max-content) auto;
  grid-column-gap: 16px;
  grid-template-areas:
    "fields0 gallery"
    "fields0 fields1";
}

.common > section > :global(.cspace-ImageGallery--common) {
  grid-area: gallery;
}

.common h1,
.common h2 {
  margin: 0;
  padding: 0;
}

.common h1 {
  font-size: 2rem;
}

.common h2 {
  font-size: 1.5rem;
}

.common a {
  text-decoration: none;
  color: highlightColor;
}

.common a:hover {
  text-decoration: underline;
}

.common a:focus {
  outline: 1px dotted highlightColor;
  outline-offset: 1px;
}

.common button:hover {
  background-color: inherit;
}

@media only screen
and (max-width: 719px) {
  .common {
    max-width: 100%;
  }

  .common > section {
    display: block;
  }
}

@media only screen
and (min-width: 720px)
and (max-width: 839px) {
  .common {
    max-width: 100%;
  }

  .common > section {
    grid-template-columns: auto 360px;
  }
}
