.common {
  display: flex;
  margin-bottom: 10px;
}

.common > div:first-of-type {
  flex: 1 1 auto;
}

.common > div > span + span {
  margin-left: 8px;
}

.common > div > span + span::before {
  margin-right: 8px;
  content: '|';
}
