@value highlightColor from '../colors.css';

.common {
  max-width: 840px;
  padding: 16px;
}

.common > section {
  display: grid;
  grid-template-columns: auto 420px;
  grid-column-gap: 16px;
  grid-template-areas:
    "fields0 gallery"
    "fields0 fields1";
}

.common > section > :global(.cspace-ImageGallery--common) {
  grid-area: gallery;
}

.common h1,
.common h2 {
  margin: 0;
}

.common h1 {
  font-size: 2rem;
}

.common h2 {
  font-size: 1.5rem;
}

.common a {
  text-decoration: none;
  color: highlightColor;
}

.common a:hover {
  text-decoration: underline;
}

@media only screen
and (max-width: 719px) {
  .common > section {
    display: block;
  }
}

@media only screen
and (min-width: 720px)
and (max-width: 839px) {
  .common > section {
    grid-template-columns: auto 360px;
  }
}
