@value highlightColor from '../colors.css';

.common {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: auto auto minmax(0, auto) minmax(0, auto) 1fr;
  grid-column-gap: 16px;
  grid-template-areas:
    "header header"
    "desc desc"
    "fields1 gallery"
    "fields1 fields2"
    "inst inst";
  margin-left: auto;
  margin-right: auto;
  max-width: 840px;
  box-sizing: border-box;
  padding-bottom: 64px;
  font-size: 1rem;
  line-height: normal;
  grid-auto-flow: row dense;
}

.common > header {
  grid-area: header;
}

.common > p {
  grid-area: desc;
}

.common :global(.cspace-ImageGallery--common) {
  grid-area: gallery;
}

.common h1,
.common h2 {
  margin: 0;
  padding: 0;
}

.common h1 {
  font-size: 2rem;
}

.common h2 {
  font-size: 1.5rem;
}

.common button:hover {
  background-color: inherit;
}

@media only screen
and (max-width: 719px) {
  .common {
    max-width: 100%;
    display: block;
  }
}

@media only screen
and (min-width: 720px)
and (max-width: 839px) {
  .common {
    max-width: 100%;
    grid-template-columns: auto 360px;
  }
}
