@value highlightColor, panelBorderColor from '../colors.css';

.common h3 {
  margin: 0 0 6px 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
}

@media only screen
and (max-width: 719px) {
  .common {
    margin-top: 16px;
  }
}
