@value panelBorderColor from '../colors.css';

.common {
  margin: 0 0 16px 0;
}

.common > h3 {
  margin: 16px 0 4px 0;
  font-size: inherit;
}

.common > h3:first-child {
  margin-top: 0;
}

.common > div {
  display: table-row;
}

.common > div > dt {
  display: table-cell;
  padding-right: .3em;
}

.common > div > dt::after {
  content: ': ';
}

.common > div > dd {
  display: table-cell;
  margin: 0;
}

.common > div > dt,
.common > div > dd {
  padding-bottom: 4px;
}

.common > div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Materialitem {
  composes: common;
}

.CollectionObject {
  composes: common;
}

.CollectionObject > div > dt {
  width: 7em;
}
