@value inputBg, inputBorder from '../colors.css';

.common {
  grid-area: filter;
  overflow-y: auto;
  background-color: rgba(212, 212, 212, .2);
}

.common :global(.cspace-FilterPanelBody) {
  padding: 16px 16px 12px 16px;
}

.common :global(.cspace-FilterPanelBody) + :global(.cspace-FilterPanelBody) {
  border-top: 1px solid rgba(200, 200, 200, .3);
}

.common :global(.cspace-FilterPanelTitle) {
  font-size: .85rem;
}

.common :global(.cspace-FilterPanelInput) {
  font-size: .85rem;
  height: 28px;
  padding: 0 8px;
  border-color: inputBorder;
  /* border: 3px solid inputBg; */
  background-color: inputBg;
}

/* .common :global(.cspace-FilterPanelInput):focus {
  border-color: inputBorder;
} */

.common :global(.cspace-FilterPanelList) {
  padding: 0;
  font-size: .85rem;
  max-height: 150px;
}

.common :global(.cspace-FilterPanelCount) {
  color: #777777;
}
