@value highlightColor, inputBgColor, inputBorderColor, panelBorderColor from '../colors.css';

.common {
  padding: 2px 20px 18px 20px;
}

.common > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow: scroll;
}

.common > ul > li {
  margin: 8px 0;
}

.common > ul > li > span:last-child {
  color: #808080;
}

/* .common :global(.cspace-FilterInput) {
  -webkit-appearance: none;
  font-size: .85rem;
  height: 30px;
  margin: 0 16px;
  padding: 0 8px;
  border: 1px solid inputBorderColor;
  background-color: inputBgColor;
}

.common :global(.cspace-FilterInput):focus {
  outline: 2px solid highlightColor;
}

.common :global(.cspace-FilterCheckbox) + label::before {
  border: 1px solid inputBorderColor;
  flex: 0 0 auto;
}

.common :global(.cspace-FilterCheckbox) + label::after {
  left: calc(1px + 16px/5);
}

.common :global(.cspace-FilterList) {
  font-size: .85rem;
  line-height: 1;
  max-height: 150px;
}

.common :global(.cspace-FilterCount) {
  color: #808080;
}

.common :global(.cspace-FilterTitle) {
  margin: 0;
}

.collapsed {
  composes: common;
}

.expanded {
  composes: common;
  padding-bottom: 16px;
}

.collapsed :global(.cspace-FilterInput),
.collapsed :global(.cspace-FilterList) {
  display: none;
}

.expanded :global(.cspace-FilterList) {
  display: block;
} */
