@value highlightColor, panelBorderColor from '../colors.css';

.common {
  position: relative;
  display: block;
  left: -16px;
  width: calc(100% + 31px);
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  text-align: left;
  color: #424242;
  font: inherit;
  outline-offset: -1px;
}

.common:focus {
  outline: 1px dotted black;
}

.expanded {
  composes: common;
}

.collapsed {
  composes: common;
}

.common > div  {
  margin: 2px;
  padding: 16px 46px 16px 16px;
  font-size: .85rem;
  font-weight: bold;
  /* background-color: #999999; */
  background-position: calc(100% - 12px) center, 0;
  background-repeat: no-repeat;
}

.common:focus > div {
  /* background-color: green; */
  /* outline: 1px solid #AAAAAA;
  outline-offset: -2px; */
  /* box-shadow: 0 3px 6px 0 rgba(64, 64, 64, .3); */
}

.common:hover > div {
  /* background-color: #FAFAFA; */
}

.expanded > div {
  background-image: url(../../images/collapse.svg);
}

.expanded:hover > div
/* .expanded:focus > div */ {
  background-image: url(../../images/collapseActive.svg);
}

.collapsed > div {
  background-image: url(../../images/expand.svg);
}

.collapsed:hover > div
/* .collapsed:focus > div */ {
  background-image: url(../../images/expandActive.svg);
}
