
@value panelBorderColor from '../colors.css';

.common {
}

.common > h1 {
  font-size: .85rem;
  margin: 0;
  border-bottom: 1px solid panelBorderColor;
  border-top: 1px solid panelBorderColor;
  background-color: panelBorderColor;
  padding: 16px 18px;
  /* text-transform: uppercase; */
}

.empty {
  display: none;
}
