@value inputBgColor, inputBorderColor, panelBorderColor from '../colors.css';
@value filterPanelCutoffWidth, filterPanelWidth, filterPanelCollapsedLeft, searchInputHeight, searchInputPaddingHeight, searchInputBorderWidth from '../dimensions.css';

.common {
  position: absolute;
  width: filterPanelWidth;
  height: 100px;
  overflow-y: auto;
  background-color: rgb(245, 245, 245);
  z-index: 1;
  transition: left 0.3s;
  scroll-behavior: smooth;
}

.common > div > header {
  margin-bottom: 1px;
  padding: 18px 20px;
  font-size: .85rem;
  white-space: nowrap;
  transition: padding 0.3s;
}

.collapsed {
  composes: common;
}

.expanded {
  composes: common;
}

@media only screen
and (max-width: filterPanelCutoffWidth) {
  .collapsed {
    left: filterPanelCollapsedLeft;
  }

  .expanded {
    left: 0;
    box-shadow: 0 0 9px 3px panelBorderColor;
  }

  .common > div > header {
    padding-left: 78px;
  }
}
