@value inputBg, inputBorder, panelBorder from '../colors.css';
@value filterPanelWidth, searchInputHeight from '../dimensions.css';

.common {
  grid-area: filter;
  position: fixed;
  margin-top: searchInputHeight;
  height: calc(100% - searchInputHeight);
  width: filterPanelWidth;
  overflow-y: auto;
  background-color: rgba(212, 212, 212, .2);
  border-right: 1px solid panelBorder;
}
