.common {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.common :global(.image-gallery-image) {
  max-width: 420px;
}

.common :global(.image-gallery-thumbnails) {
  padding-bottom: 0;
}

.common :global(.image-gallery-thumbnail) {
  width: 25%;
  max-width: 100px;
}
