.common {
}

.external {
  composes: common;
  padding-right: 17px;
  background-image: url(../../images/openNew.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}
