.common {
  background-repeat: no-repeat;
  background-size: 16px;
}

.external {
  composes: common;
  padding-right: 20px;
  background-position: right center;
  background-image: url(../../images/openNew.svg);
}

.hash {
  composes: common;
  padding-right: 20px;
  background-position: right center;
  background-image: url(../../images/linkDown.svg);
}

.back {
  composes: common;
  padding-left: 20px;
  background-position: left center;
  background-image: url(../../images/linkBack.svg);
}
