.common {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}

.external {
  composes: common;
  background-image: url(../../images/openNew.svg);
}

.hash {
  composes: common;
  background-image: url(../../images/linkDown.svg);
}
