@value highlightColor from '../colors.css';

body {
  padding: 0;
  margin: 0;
}

.common p {
  margin: 16px 0;
}

.common p:first-child {
  margin-top: 0;
}

/* .common button:hover {
  background-color: inherit;
} */

/* .common button:focus {
  background-color: rgba(255, 255, 255, .5);
  outline: 1px dotted black;
  outline-offset: -1px;
} */
