@value highlightColor from '../colors.css';

body {
  padding: 0;
  margin: 0;
}

.common p {
  margin: 16px 0;
}

.common p:first-child {
  margin-top: 0;
}

.common input, .common button {
  font: inherit;
}

.common button {
  border: none;
  border-radius: 3px;
  padding: 0;
}

.common button:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}

.common button:hover {
  background: highlightColor;
}
