@value buttonBgColor, buttonBgHoverColor, highlightColor from '../colors.css';

body {
  padding: 0;
  margin: 0;
  color: #424242;
}

a {
  text-decoration: none;
  color: highlightColor;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 1px dotted highlightColor;
  outline-offset: 1px;
}

p {
  margin: 16px 0;
}

p:first-child {
  margin-top: 0;
}

input {
  outline-offset: -2px;
}

input, button {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  border-radius: 3px;
  background-color: buttonBgColor;
  color: white;
  outline-offset: -2px;
}

button:hover {
  background-color: buttonBgHoverColor;
  color: buttonBgColor;
}

button:focus {
  outline-offset: 1px;
  outline: 2px solid buttonBgColor;
}
