@value panelBorder from '../colors.css';

.common {
  border-top: 1px solid panelBorder;
  border-bottom: 1px solid panelBorder;
}

.expanded {
  composes: common;
}

.collapsed {
  composes: common;
}

.common h3,
.common h4 {
  margin: 0;
}

.common h4 {
  font-size: inherit;
}

.common > div {
  display: flex;
  margin-top: 2px;
  padding-bottom: 16px;
}

.common > div > ul {
  margin: 0 0 0 16px;
  padding: 0;
}

.common > div > ul > li {
  display: flex;
}

.common > div > ul > li + li {
  margin-top: 10px;
}

.common > div > ul > li > h4 + dl {
  margin-left: 10px;
}

.common > div > ul > li p,
.common > div > ul > li dl {
  margin: 0;
}

.common > div > ul > li p + p,
.common > div > ul > li p + dl {
  margin-top: 10px;
}

.common :global(.cspace-ImageGallery--common) {
  width: 210px;
}

.common :global(.image-gallery-thumbnail) {
  width: 46px;
}


.common :global(.image-gallery-left-nav),
.common :global(.image-gallery-right-nav) {
  font-size: 2.5em;
}
