@value panelBorderColor from '../colors.css';

.common {
  border-top: 1px solid panelBorderColor;
  border-bottom: 1px solid panelBorderColor;
}

.common > button:focus {
  background-color: inherit;
  outline: 1px dotted black;
  /* box-shadow: 0 0 9px 3px panelBorderColor; */
}

.expanded {
  composes: common;
}

.collapsed {
  composes: common;
}

.common h3 {
  margin: 0 0 10px 0;
  font-weight: 600;
}

.common h3,
.common h4 {
  font-size: inherit;
}

.common > div {
  display: grid;
  grid-template-columns: 210px auto;
  grid-column-gap: 16px;
  margin-top: 2px;
  padding-bottom: 16px;
}

.common :global(.image-gallery-slide img) {
  max-width: 210px;
}

.common :global(.image-gallery-slide img) {
  max-width: 210px;
}

.common :global(.image-gallery-thumbnail) {
  max-width: 50px;
}

.common > div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.common > div > ul > li {
  /* border-top: 1px solid panelBorderColor; */
  /* padding-top: 16px; */
  display: flex;
}

.common > div > ul > li > h3{
  margin-right: 16px;
}

.common > div > ul > li + li {
  margin-top: 10px;
  border-top: 1px solid panelBorderColor;
  padding-top: 10px;
}

.common > div > ul > li > h4 + dl {
  margin-left: 10px;
}

.common > div > ul > li p,
.common > div > ul > li dl {
  margin: 0;
}

.common > div > ul > li p + p,
.common > div > ul > li p + dl {
  margin-top: 4px;
}

.common dt {
  font-weight: 600;
  white-space: nowrap;
}

.common :global(.image-gallery-left-nav),
.common :global(.image-gallery-right-nav) {
  font-size: 2.5em;
}

@media only screen
and (max-width: 640px) {
  .common > div {
    display: block;
  }
}
