.common {
}

.common > ul {
  padding: 0;
}

.common > ul > li {
  display: flex;
}

.common > ul > li + li {
  margin-top: 10px;
}

.common > ul > li > div + div {
  margin-left: 10px;
}

.common > ul > li p,
.common > ul > li dl {
  margin: 0;
}

.common > ul > li p + p,
.common > ul > li p + dl {
  margin-top: 10px;
}

.common > ul > li dl > div {
  display: table-row;
}

.common > ul > li dl > div:not(:last-of-type) > dd {
  padding-bottom: 10px;
}

.common > ul > li dl > div > dt {
  display: table-cell;
  padding-right: 10px;
  width: 110px;
}

.common > ul > li dl > div > dd {
  display: table-cell;
  white-space: pre-line;
}
