@value highlightColor, panelBorderColor from '../colors.css';

.common {
  position: fixed;
  width: 64px;
  height: 64px;
  right: 20px;
  bottom: 20px;
  border-radius: 32px;
  border: none;
  padding: 0;
  background: white url(../../images/top.svg) no-repeat center center;
  box-shadow: 0 0 9px 3px panelBorderColor;
  z-index: 15;
  transition: opacity 1s;
}

.common:focus {
  outline: none;
  border: 2px solid highlightColor;
  box-shadow: 0 0 9px 3px highlightColor;
}

.common:hover {
  background-color: rgb(248, 248, 248);
}

.hidden {
  composes: common;
  opacity: 0;
  visibility: hidden;
}
