@value searchInputHeight from '../dimensions.css';
@value highlightColor, inputBgColor, inputBorderColor from '../colors.css';

.common {
  margin: 0;
}

.common > input {
  width: 100%;
  height: searchInputHeight;
  box-sizing: border-box;
  border: 1px solid inputBorderColor;
  padding: 0 88px 0 32px;
  font-size: 1rem;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.common > input:focus {
  outline: 2px solid highlightColor;
}

.common > button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 78px;
  height: 30px;
}
