@value highlightColor from '../colors.css';

.common {
  display: block;
  width: 210px;
  height: 310px;
  margin: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
  border-radius: .25rem;
  overflow: hidden;
  text-decoration: none;
  background-color: white;
  color: inherit;
  font-size: 0.9rem;
  transition: all 0.3s ease 0s;
}

.common:hover {
  box-shadow:  0 0 8px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.common:focus {
  outline: none;
  box-shadow:  0 0 8px 1px highlightColor;
}

.common > div {
  width: 100%;
  height: 210px;
  background-color: rgb(252, 252, 252);
  background-size: cover;
}

.common > article {
  padding: 10px;
}

.common > article > h2 {
  margin: 0;
  font-size: inherit;
}

@media only screen
and (max-device-width: 1080px)
and (min-resolution: 192dpi)
and (orientation: portrait) {
  .common {
    height: 440px;
  }
}

@media only screen
and (max-device-width: 1080px)
and (min-resolution: 192dpi)
and (orientation: landscape) {
  .common {
    height: 370px;
  }
}
