@value searchInputHeight, searchInputBorderWidth from '../dimensions.css';
@value inputBgColor, inputBorderColor, panelBorderColor from '../colors.css';

.common {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px;
  background-color: rgba(212, 212, 212, .2);
  /* border-bottom: searchInputBorderWidth solid inputBorderColor; */
}

.common :global(.cspace-DataSearch) {
  flex: 1 1 auto;
}

.common button {
  display: block;
  flex: 0 0 auto;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: searchInputHeight;
}

.common button:focus {
  outline: 1px dotted black;
  outline-offset: -1px;
}

.collapsed {
  composes: common;
}

.collapsed button {
  background-image: url(../../images/expand.svg);
}

.collapsed button:hover {
  background-image: url(../../images/expandActive.svg);
}

.expanded {
  composes: common;
}

.expanded button {
  background-image: url(../../images/collapse.svg);
}

.expanded button:hover {
  background-image: url(../../images/collapseActive.svg);
}

@media only screen
and (max-device-width: 1080px)
and (min-resolution: 192dpi)
and (orientation: portrait) {
  .common :global(.cspace-SearchInput) {
    height: 84px;
    padding-left: 44px;
  }

  .common svg {
    padding-left: 10px;
  }
}

@media only screen
and (max-device-width: 1080px)
and (min-resolution: 192dpi)
and (orientation: landscape) {
  .common :global(.cspace-SearchInput) {
    height: 64px;
    padding-left: 38px;
  }

  .common svg {
    padding-left: 5px;
  }
}
