.common {
  grid-area: result;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: inherit;
  padding: 0 10px;
}

.common :global(.cspace-SearchResultListSelectedFilters) {
  margin: 0;
}

.common :global(.cspace-SearchResultListSelectedFilters) :global(.cspace-SearchResultListSelectedFiltersButton) {
  margin: 2px;
}

.common :global(.cspace-SearchResultListSelectedFilters) :global(.cspace-SearchResultListSelectedFiltersButton):first-of-type {
  margin-top: 10px;
}

