@value filterPanelWidth, searchInputHeight from '../dimensions.css';

.common {
  display: grid;
  grid-template-rows: searchInputHeight auto;
  grid-template-columns: filterPanelWidth auto;
  grid-template-areas:
    "entry entry"
    "filter result";
  background-color: white;
}
