@value inputBg, inputBorder, panelBorder from '../colors.css';

.common {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 9px 3px panelBorder;
  z-index: 1;
}

.common :global(.cspace-SearchInput) {
  background-color: inputBg;
  font-size: 1rem;
}

.expanded {
  composes: common;
}
