@value highlightColor from '../colors.css';
@value searchResultTileMargin, searchResultTileWidth, searchResultTileBodyHeight from '../dimensions.css';

.common {
  width: searchResultTileWidth;
  margin: searchResultTileMargin;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25);
  border-radius: .25rem;
  overflow: hidden;
  text-decoration: none;
  background-color: white;
  color: inherit;
  font-size: 0.9rem;
  border: 1px solid transparent;
}

.common:hover {
  box-shadow:  0 0 8px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.common:focus {
  outline: none;
  border: 1px solid highlightColor;
  box-shadow:  0 0 8px 1px highlightColor;
}

.common > article {
  padding: 10px;
  height: searchResultTileBodyHeight;
  box-sizing: border-box;
}

.common > article > h2 {
  margin: 0 0 6px 0;
  font-size: inherit;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen
and (max-width: 695px) {
  .common {
    width: 158px;
    margin: 6px;
  }

  .common > div {
    height: 158px;
  }

  .common > article {
    height: 94px;
  }
}

@media only screen
  and (max-width: 539px) {
  .common {
    width: 105px;
    margin: 4px;
  }
  .common > article {
    height: 128px;
  }
}
