@value filterPanelWidth, searchInputHeight, searchInputBorderWidth from '../dimensions.css';

.common {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 0 0 filterPanelWidth;
  min-height: 500px;
}

.common > header {
  font-size: .85rem;
  padding: 10px;
}

.common > header > div {
  display: flex;
  align-items: baseline;
}

.common :global(.cspace-SelectedFilters) {
  margin: 0;
  padding: 0 4px 0 12px;
  background-color: white;
  z-index: 9;
}

.common :global(.cspace-SelectedFilters) :global(.cspace-SelectedFiltersButton) {
  margin: 2px;
}

.common :global(.cspace-SelectedFilters) :global(.cspace-SelectedFiltersButton):first-of-type {
  margin-top: 14px;
}

@media only screen
and (max-width: 768px) {
  .common {
    padding-left: 8px;
  }

  .common :global(.cspace-SelectedFilters) {
    padding-left: 66px;
  }
}
