@value filterPanelWidth, searchInputHeight, searchInputBorderWidth from '../dimensions.css';

.common {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: calc(searchInputHeight + searchInputBorderWidth) 10px 0 calc(filterPanelWidth + 8px);
}

.common :global(.cspace-SearchResultListSelectedFilters) {
  margin: 0;
}

.common :global(.cspace-SearchResultListSelectedFilters) :global(.cspace-SearchResultListSelectedFiltersButton) {
  margin: 2px;
}

.common :global(.cspace-SearchResultListSelectedFilters) :global(.cspace-SearchResultListSelectedFiltersButton):first-of-type {
  margin-top: 10px;
}
