@value highlightColor, inputBorderColor from '../colors.css';

.common {
  position: relative;
  width: 100%;
  overflow: visible;
}

.common > select {
  position: absolute;
  right: 0;
  top: 2px;
  width: 130px;
  z-index: 10;

  -webkit-appearance: none;
  margin: 4px 8px;
  border: 1px solid inputBorderColor;
  border-radius: 0;
  font-size: .85rem;
  padding: 7px 21px 7px 8px;
  background-color: inherit;
  background-image: url(../../images/select.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 2px) center;
  background-size: 16px;
}

.common > select:focus {
  outline: 2px solid highlightColor;
}
