@value highlightColor, inputBorderColor from '../colors.css';

.common {
  -webkit-appearance: none;
  margin-right: 10px;
  border: 1px solid inputBorderColor;
  border-radius: 0;
  font: inherit;
  padding: 8px 22px 8px 8px;
  background-color: inherit;
  background-image: url(../../images/select.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 2px) center;
  background-size: 16px;
}

.common:focus {
  outline: 2px solid highlightColor;
}
