@value highlightColor, panelBorderColor from '../colors.css';

.common {
  position: fixed;
  z-index: 3;
  width: 64px;
  height: 64px;
  left: 6px;
  top: 66px;
  border-radius: 32px;
  border: none;
  background-color: #eeeeee;
  box-shadow: 0 0 9px 3px panelBorderColor;
  display: none;
}

.common:focus {
  outline: none;
  box-shadow: 0 0 9px 3px highlightColor;
}

@media only screen
and (max-width: 768px) {
  .common {
    display: block;
  }
}
